.list-group-item.active{
  z-index: 2;
  
  background-color: #ad2376;
  border-radius: 0px!important;
}



.product-item{
  background: #c5f40a!important;
}
.child-rows{
  padding-left: 40px;
  border-left: 1px solid #dfdfdf;
  background: #FFF;
}
.child-rows a.list-group-item{
  border-left: 0px!important;
}


.bg-light{
background: #c5f40a!important;
}



.margin-top-20{
  margin-top: 20px;
}
.margin-left-30{
  margin-left: 500px;
  margin-top:10px;
}
.feature-img{
  max-height: 200px;
  max width: 200px;
}
.footer-bottom{
  padding:20px;
  margin-top:200px;
  background: #c5f40a;
}
